.App {
  text-align: center;
  width: 600px;
  background-color: #B8A0BE;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.App-title {
  font-size: 1.5em;
  float: right;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Pet{
  background-color: #AFAFCE;
  width: 200px;
  height: 200px;
  float: left;
  padding: 20px;
  margin: 10px;
}

.AddPetBox{
  background-color: #8E8EE0;
  width: 300px;
  /* height: 200px; */
  float: left;
  padding: 20px;
  margin: 10px;
  clear: right;
}

.PetList{
  float: left;
  clear: left;
}
body{
  text-align: center;
  margin: 0px;
}